<template>
    <div>
        <beautiful-chat
        :participants="participants"
        :titleImageUrl="titleImageUrl"
        :onMessageWasSent="onMessageWasSent"
        :messageList="messageList"
        :newMessagesCount="newMessagesCount"
        :isOpen="isChatOpen"
        :close="closeChat"
        :open="openChat"
        :showEmoji="true"
        :showFile="true"
        :showTypingIndicator="showTypingIndicator"
        :colors="colors"
        :alwaysScrollToBottom="alwaysScrollToBottom"
        :messageStyling="messageStyling"
        @onType="handleOnType"
        @edit="editMessage">
        </beautiful-chat>
  </div>
</template>

<script>
import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'
import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'
import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'
import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg'                        

export default {
    app: 'ChatbotPopup',
    data() {
        return {
            icons:{
                open:{
                    img: OpenIcon,
                    name: 'default',
                },
                close:{
                    img: CloseIcon,
                    name: 'default',
                },
                file:{
                    img: FileIcon,
                    name: 'default',
                },
                closeSvg:{
                    img: CloseIconSvg,
                    name: 'default',
                },
            },
            participants: [],
            titleImageUrl: '',
            messageList: [
//                 { type: 'text', author: `me`, id: 0, data: { text: `Why don't they have salsa on the table?` } },
//   { type: 'text', author: `gg`, id: 1, data: { text: `What do you need salsa for?` } },
//   { type: 'text', author: `me`, id: 2, data: { text: `Salsa is now the number one condiment in America.` } },
//   { type: 'text', author: `gg`, id: 3, data: { text: `You know why? Because people like to say 'salsa.' 'Excuse me, do you have salsa?' 'We need more salsa.' 'Where is the salsa? No salsa?'` } },
//   { type: 'text', author: `me`, id: 4, data: { text: `You know it must be impossible for a Spanish person to order seltzer and not get salsa. 'I wanted seltzer, not salsa.'` } },
//   { type: 'text', author: `gg`, id: 5, data: { text: `Don't you know the difference between seltzer and salsa?? You have the seltezer after the salsa!` } },
//   { type: 'text', author: `me`, id: 6, data: { text: `See, this should be a show. This is the show. ` } },
//   { type: 'text', author: `gg`, id: 7, data: { text: `What?` } },
//   { type: 'text', author: `me`, id: 8, data: { text: `This. Just talking.` } },
//   { type: 'text', author: `gg`, id: 9, data: { text: `Yeah, right.` } },
//   { type: 'text', author: `me`, id: 10, data: { text: `I'm really serious. I think that's a good idea. ` } },
//   { type: 'text', author: `gg`, id: 11, data: { text: `Just talking? Well what's the show about?` } },
//   { type: 'text', author: `me`, id: 12, data: { text: `It's about nothing.` } },
//   { type: 'text', author: `gg`, id: 100, data: { text: `No story?` } },
//   { type: 'system', id: 13, data: { text: 'You have been transferred to another operator', meta: '04-07-2018 15:57' } },
//   { type: 'file', author: `support`, id: 14, data: { text: `No forget the story. `, file: { name: 'awesome', url: 'https://media.giphy.com/media/dkGhBWE3SyzXW/giphy.gif' } } },
//   { type: 'file', author: `me`, id: 15, data: { text: `What about this one instead?? `, file: { url: 'http://www.quickmeme.com/img/2d/2d95cc80f9a2a2578a8f632eebecddcc1c12e5b08ab85f81a5d401670d5f36c1.jpg' }, meta: '✓✓ Read' } },
//   { type: 'text', author: `support`, id: 16, data: { text: `You've got to have a story. You've got to have a story. You've got to have a story. You've got to have a story. You've got to have a story. You've got to have a story. ` } },
//   { type: 'emoji', author: `me`, id: 17, data: { emoji: `😋` } },
//   { type: 'text', author: `me`, id: 18, data: { text: `Do you read me...`, meta: '✓✓ Read' } },
//   { type: 'text', author: `me`, id: 19, data: { text: `...or not?`, meta: '✓ Delivered' } },
//   { type: 'system', id: 20, data: { text: 'User changed security key', meta: '04-08-2018 15:57' } },
//   { type: 'text', author: `support`, id: 21, data: { text: `What about suggestions?` }, suggestions: ["Looks good!", "It's OK.", "Uhh.. Do I really have to say something?"] }
            ], // the list of the messages to show, can be paginated and adjusted dynamically
            newMessagesCount: 0,
            isChatOpen: true, // to determine whether the chat window should be open or closed
            showTypingIndicator: '', // when set to a value matching the participant.id it shows the typing indicator for the specific user
            colors: {
                header: {
                    bg: '#4e8cff',
                    text: '#ffffff'
                },
                launcher: {
                    bg: '#4e8cff'
                },
                    messageList: {
                    bg: '#ffffff'
                },
                sentMessage: {
                    bg: '#4e8cff',
                    text: '#ffffff'
                },
                receivedMessage: {
                    bg: '#eaeaea',
                    text: '#222222'
                },
                userInput: {
                    bg: '#f4f7f9',
                    text: '#565867'
                }
            },
            alwaysScrollToBottom: true, // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)
            messageStyling: true
        }
    },
    props: {
        chatbotId: String,
        knowledgeBaseList: Array
    },
    methods: {
        onMessageWasSent (message) {
            // called when the user sends a message
            this.messageList = [...this.messageList, message ]
            let request = {
                withKnowledgeBase: true,
                projectId: this.chatbotId,
                sessionId: "123456",
                knowledgeBaseId: this.knowledgeBaseList,
                queryInput: message.data.text,
                contextInput: null
            }
            this.$socket.emit('queryInput', request)
        },
        openChat () {
            // called when the user clicks on the fab button to open the chat
            this.isChatOpen = true
            this.newMessagesCount = 0
        },
        closeChat () {
            // called when the user clicks on the botton to close the chat
            this.isChatOpen = false
        },
        handleScrollToTop () {
            // called when the user scrolls message list to top
            // leverage pagination for loading another page of messages
        },
        handleOnType () {
            // console.log('Emit typing event')
        },
        editMessage(message){
            const m = this.messageList.find(m=>m.id === message.id);
            m.isEdited = true;
            m.data.text = message.data.text;
        },
        like(id){
            const m = this.messageList.findIndex(m => m.id === id);
            var msg = this.messageList[m];
            msg.liked = !msg.liked;
            this.$set(this.messageList, m, msg);
        }
    },
    sockets: {
        connect: function () {
            window.console.log('socket connected')
        },
        customEmit: function () {
            window.console.log('this method was fired by the socket server. eg: io.emit("customEmit", data)')
        }
    },
    mounted() {
        this.sockets.subscribe('responseOutput', function(response) {
            this.messageList = [...this.messageList, { type: 'text', author: `support`, id: 110, data: { text: response } }]
        })
    }
}
</script>

<style scoped>

</style>