<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <div class="d-flex align-center">
                <v-img
                alt="Las Vegas Logo"
                class="shrink mr-2"
                contain
                src="../../assets/lasvegas.png"
                transition="scale-transition"
                width="240"
                />
            </div>

            <v-spacer></v-spacer>
        </v-app-bar>

        <v-content>
            <v-container class="fill-height" fluid>
                <v-row align="center" justify="center">
                    <v-col cols="12" sm="8" md="4">
                        <v-form>
                            <v-card class="elevation-12">
                                <v-toolbar color="primary" dark flat>
                                    <v-toolbar-title>Login form</v-toolbar-title>

                                    <v-spacer />
                                </v-toolbar>

                                <v-card-text>
                                    <v-text-field v-model="email" :rules="emailRules" label="Email" name="Email" prepend-icon="mdi-account-circle" type="email"/>
                                    <v-text-field v-model="password" label="Password" name="password" prepend-icon="mdi-lock" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" :type="showPassword ? 'text' : 'password'" @click:append="showPassword = !showPassword"/>
                                </v-card-text>

                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="info" @click.native="login">Login</v-btn>
                                    <v-btn color="success">Register</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-form>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
    
</template>

<script>
// import axios from 'axios'

export default {
    name: 'LoginPage',
    props: {
      source: String,
    },
    data () {
        return {
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid',
            ],
            password: '',
            showPassword: false
        }
    },
    methods: {
        login(e) {
            e.preventDefault();
            let data = {
                email: this.email,
                password: this.password
            }
            this.$store.dispatch('login', data)
                        .then(() => this.$router.push('/dashboard'))
                        .catch(() => this.$router.push('/'))
            // let login = () => {
            //     let data = {
            //         email: this.email,
            //         password: this.password
            //     }

            //     axios.post("/authen/login", data)
            //         .then(() => {
            //             this.$router.push('/dashboard');
            //         })
            //         .catch(() => {
            //             this.$router.push('/');
            //         })
            // }
            // login()            
        }
    }
}
</script>

<style scoped>

</style>