<template>
    <v-container>
        <v-toolbar flat color="white">
            <v-btn small color="primary" dark class="ma-2" outlined @click="addRoot">Add Root</v-btn>
            <v-spacer></v-spacer>
            <v-btn small color="primary" dark class="ma-2" outlined @click="updateDialog">Update</v-btn>
            <v-btn small color="warning" dark class="ma-2" outlined @click="close">Close</v-btn>
        </v-toolbar>
        
        <!-- <v-file-input label="Csv input" accept=".csv"></v-file-input> -->

        <v-row class="pa-4" justify="space-between">
            <v-col>
                <v-treeview hoverable activatable color="primary" dense :active.sync="active" :open.sync="open" :items="items">
                    <template v-slot:append="{ item, active }">
                        <v-icon color="blue" @click="addChild(item)">
                            {{ active ? 'mdi-plus' : ''}}
                        </v-icon>
                        <v-icon color="red" @click="deleteChild(item)">
                            {{ active ? 'mdi-minus' : ''}}
                        </v-icon>
                    </template>
                </v-treeview>
            </v-col>
            
            <v-divider vertical></v-divider>

            <v-col class="d-flex">
                <div v-if="!selected" class="title grey--text text--lighten-1 font-weight-light">
                    Select a conversation
                </div>
                <div v-else :key="selected.id">
                    <v-card class="mx-auto" max-width="600">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                Training Phrases
                            </p>

                            <div class="text--primary my-3" v-for="(phrase, i) in selected.trainingPhrases" :key="i">
                                {{ phrase }}
                            </div>

                            <v-text-field class="mt-4"
                                label="New Training Phrase"
                            ></v-text-field>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn text color="deep-purple accent-4">Edit</v-btn>
                        </v-card-actions>
                    </v-card>
                    <v-divider class="mt-4 mb-4"></v-divider>
                    <v-card class="mx-auto" max-width="600">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                Response Messages
                            </p>

                            <div class="text--primary my-3" v-for="(message, i) in selected.messages" :key="i">
                                {{ message }}
                            </div>

                            <v-text-field class="mt-4"
                                label="New Response Message"
                            ></v-text-field>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn text color="deep-purple accent-4">Edit</v-btn>
                        </v-card-actions>
                    </v-card>
                </div>
            </v-col>
        </v-row>
        
        <v-dialog v-model="dialogSetup" width="500">
            <v-card>
                <v-card-title class="headline">
                    Status                        
                </v-card-title>
                <v-card-text>
                    {{ messageDialog }}
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import axios from 'axios'

export default {
    name: 'ChatbotEditor',
    data() {
        return {
            active: [],
            open: [],
            items: [],
            dialogData: [],
            deletedIntent: [],
            reservedId: 1000,
            messageDialog: "Updated successfully!",
            dialogSetup: false
        }        
    },
    props: {
        chatbotId: String
    },
    computed: {
        selected () {
            if (!this.active.length) {
                
                return undefined
            }

            const id = this.active[0]

            return this.dialogData.find(item => item.id === id)
        }
    },
    methods: {
        close() {
            this.$emit("closed")
        },
        buildDialogList(parent, childrenList) {
            if (parent.outputContexts.length == 0) {
                return parent
            }

            for (let index = 0; index < parent.outputContexts.length; index++) {
                parent.children = []
                for (let j = 0; j < childrenList.length; j++) {
                    if (childrenList[j].inputContextNames.includes(parent.outputContexts[index])) {
                        let temp = this.buildDialogList(childrenList[j], childrenList)
                        parent.children.push(temp)
                    }                 
                }
            }
            return parent
        },
        addRoot() {
            let id = this.reservedId++
            this.items.push({
                id,
                name: 'Default name',
                inputContextNames: [],
                outputContexts: []
            })

            this.dialogData.push({
                id,
                name: '',
                displayName: 'Default name',
                inputContextNames: [],
                outputContexts: [],
                trainingPhrases: [],
                messages: []
            })
        },
        addChild(item) {
            if (!item.children) {
                this.$set(item, "children", []);
            }

            const name = `${item.name} - custom`;
            const id = this.reservedId++;

            let context = item.name.replace(" ", "")
            item.outputContexts.push(context)

            item.children.push({
                id,
                name,
                inputContextNames: [context],
                outputContexts: []
            });

            let index = this.dialogData.findIndex(i => i.id === item.id)
            this.dialogData[index].outputContexts.push(context)

            // Add to dialog data
            this.dialogData.push({
                id,
                name: '',
                displayName: name,
                inputContextNames: [context],
                outputContexts: [],
                trainingPhrases: [],
                messages: []
            })
        },
        deleteChild(item) {
            let deletedItem = this.deleteNodeById(this.items, item)
            
            let idArr = []
            this.getAllIdOfNode(deletedItem, idArr)

            for (let index = 0; index < idArr.length; index++) {
                // Delete in dialog data
                let i = this.dialogData.findIndex(x => x.id === idArr[index])

                if (this.dialogData[i].name.length != 0) {
                    this.deletedIntent.push(this.dialogData[i].name)
                }

                this.dialogData.splice(i, 1)               
            }
        },
        deleteNodeById(root, node) {    
            let temp
            let i = root.findIndex(i => i.id === node.id)
            
            if (i != -1) {
                temp = root[i]
                root.splice(i, 1)
                return temp
            }

            for (let index = 0; index < root.length; index++) {
                if (root[index].children) {
                    temp = this.deleteNodeById(root[index].children, node)
                }

                if (temp) {
                    return temp
                }
            }
        },
        getAllIdOfNode(root, idArr) {
            idArr.push(root.id)

            if (!root.children) {
                return
            }

            for (let index = 0; index < root.children.length; index++) {
                this.getAllIdOfNode(root.children[index], idArr)                
            }
        },
        loadDialog() {
            let request = {
                projectId: this.chatbotId
            }
            axios.post(process.env.VUE_APP_HOSTNAME + '/conversation/dialog/showall', request)
                    .then((res) => {
                        let count = 1
                        let returnInfo = res.data.information
                        let restInfo = [] // Array with input & output context element

                        // Add elements with none in & out context to items
                        for (let index = 0; index < returnInfo.length; index++) {
                            if (returnInfo[index].inputContextNames.length == 0 && returnInfo[index].outputContexts == 0) {
                                this.items.push({
                                    id: count,
                                    name: returnInfo[index].displayName,
                                    inputContextNames: returnInfo[index].inputContextNames,
                                    outputContexts: returnInfo[index].outputContexts
                                })

                                // Add item to dialogData
                                this.dialogData.push({
                                    id: count,
                                    name: returnInfo[index].id_,
                                    displayName: returnInfo[index].displayName,
                                    inputContextNames: returnInfo[index].inputContextNames,
                                    outputContexts: returnInfo[index].outputContexts,
                                    trainingPhrases: returnInfo[index].trainingPhrases,
                                    messages: returnInfo[index].messages
                                })
                            }
                            else {
                                restInfo.push(returnInfo[index])
                            }
                            count = count + 1
                        }

                        // Parent node
                        let parentNode = []
                        let childrenNode = []

                        for (let index = 0; index < restInfo.length; index++) {
                            if (restInfo[index].inputContextNames.length == 0) {
                                parentNode.push({
                                    id: count,
                                    name: restInfo[index].displayName,
                                    inputContextNames: restInfo[index].inputContextNames,
                                    outputContexts: restInfo[index].outputContexts,
                                })

                                // Add item to dialogData
                                this.dialogData.push({
                                    id: count,
                                    name: restInfo[index].id_,
                                    displayName: restInfo[index].displayName,
                                    inputContextNames: restInfo[index].inputContextNames,
                                    outputContexts: restInfo[index].outputContexts,
                                    trainingPhrases: restInfo[index].trainingPhrases,
                                    messages: restInfo[index].messages
                                })
                            }
                            else {
                                childrenNode.push({
                                    id: count,
                                    name: restInfo[index].displayName,
                                    inputContextNames: restInfo[index].inputContextNames,
                                    outputContexts: restInfo[index].outputContexts,
                                })

                                // Add item to dialogData
                                this.dialogData.push({
                                    id: count,
                                    name: restInfo[index].id_,
                                    displayName: restInfo[index].displayName,
                                    inputContextNames: restInfo[index].inputContextNames,
                                    outputContexts: restInfo[index].outputContexts,
                                    trainingPhrases: restInfo[index].trainingPhrases,
                                    messages: restInfo[index].messages
                                })
                            }
                            count = count + 1
                        }
                        
                        // add child node to parent
                        for (let index = 0; index < parentNode.length; index++) {
                            let temp = this.buildDialogList(parentNode[index], childrenNode)
                            this.items.push(temp)
                        }
                    })
        },
        updateDialog() {
            let request = {
                projectId: this.chatbotId,
                sessionId: "123456",
                batchIntents: this.dialogData
            }

            axios.post(process.env.VUE_APP_HOSTNAME + '/conversation/dialog/batchUpdate', request)
                    .then((res) => {
                        if (res.data.status != 'success') {
                            this.messageDialog = ''
                            this.messageDialog = res.data.information
                        }
                        else {
                            this.items = []
                            this.dialogData = []
                            
                            let count = 1
                            let returnInfo = res.data.information
                            let restInfo = [] // Array with input & output context element

                            // Add elements with none in & out context to items
                            for (let index = 0; index < returnInfo.length; index++) {
                                if (returnInfo[index].inputContextNames.length == 0 && returnInfo[index].outputContexts == 0) {
                                    this.items.push({
                                        id: count,
                                        name: returnInfo[index].displayName,
                                        inputContextNames: returnInfo[index].inputContextNames,
                                        outputContexts: returnInfo[index].outputContexts
                                    })

                                    // Add item to dialogData
                                    this.dialogData.push({
                                        id: count,
                                        name: returnInfo[index].id_,
                                        displayName: returnInfo[index].displayName,
                                        inputContextNames: returnInfo[index].inputContextNames,
                                        outputContexts: returnInfo[index].outputContexts,
                                        trainingPhrases: returnInfo[index].trainingPhrases,
                                        messages: returnInfo[index].messages
                                    })
                                }
                                else {
                                    restInfo.push(returnInfo[index])
                                }
                                count = count + 1
                            }

                            // Parent node
                            let parentNode = []
                            let childrenNode = []

                            for (let index = 0; index < restInfo.length; index++) {
                                if (restInfo[index].inputContextNames.length == 0) {
                                    parentNode.push({
                                        id: count,
                                        name: restInfo[index].displayName,
                                        inputContextNames: restInfo[index].inputContextNames,
                                        outputContexts: restInfo[index].outputContexts,
                                    })

                                    // Add item to dialogData
                                    this.dialogData.push({
                                        id: count,
                                        name: restInfo[index].id_,
                                        displayName: restInfo[index].displayName,
                                        inputContextNames: restInfo[index].inputContextNames,
                                        outputContexts: restInfo[index].outputContexts,
                                        trainingPhrases: restInfo[index].trainingPhrases,
                                        messages: restInfo[index].messages
                                    })
                                }
                                else {
                                    childrenNode.push({
                                        id: count,
                                        name: restInfo[index].displayName,
                                        inputContextNames: restInfo[index].inputContextNames,
                                        outputContexts: restInfo[index].outputContexts,
                                    })

                                    // Add item to dialogData
                                    this.dialogData.push({
                                        id: count,
                                        name: restInfo[index].id_,
                                        displayName: restInfo[index].displayName,
                                        inputContextNames: restInfo[index].inputContextNames,
                                        outputContexts: restInfo[index].outputContexts,
                                        trainingPhrases: restInfo[index].trainingPhrases,
                                        messages: restInfo[index].messages
                                    })
                                }
                                count = count + 1
                            }
                            
                            // add child node to parent
                            for (let index = 0; index < parentNode.length; index++) {
                                let temp = this.buildDialogList(parentNode[index], childrenNode)
                                this.items.push(temp)
                            }
                        }
                    })
                    .catch((err) => {
                        this.messageDialog = err
                    })

            
            if (this.deletedIntent.length != 0) {
                let delData = {
                    projectId: this.chatbotId,
                    batchIntents: this.deletedIntent
                }

                axios.delete(process.env.VUE_APP_HOSTNAME + '/conversation/dialog/batchDelete', {data: delData})
                        .then((res) => {
                            if (res.data.status != 'success') {
                                this.messageDialog =  res.data.information + "Something happened wrong"
                            }
                        })
                        .catch((err) => {
                            this.messageDialog = err
                        })
            }
            
            
            this.dialogSetup = true
        }
    },
    mounted() {
        this.loadDialog()
    }
}
</script>

<style scoped>

</style>