<template>
    <v-container>
            <v-data-table :headers="headers" :items="faqs">
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>{{ displayName }}</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn small color="primary" dark class="ma-2" outlined @click="setupFaq">Set-up</v-btn>
                        <v-btn small color="warning" dark class="ma-2" outlined @click="closeEditor">Close</v-btn>
                    </v-toolbar>

                    <v-divider class="mx-4" inset vertical></v-divider>


                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on="on">Create new Item</v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.question" label="Question"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.answer" label="Answer"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </template>

                <template v-slot:item.action="{ item }">
                    <v-icon small class="mr-3" @click="editItem(item)">
                        mdi-grease-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>

            <v-dialog v-model="dialogSetup" width="500">
                <v-card>
                    <v-card-title class="headline">
                        Status                        
                    </v-card-title>
                    <v-card-text>
                        {{ messageDialog }}
                    </v-card-text>
                </v-card>
            </v-dialog>
    </v-container>
</template>

<script>
import axios from 'axios'

export default {
    name: 'ChatbotEditor',
    data() {
        return {
            headers: [
                {
                    text: 'Questions',
                    value: 'question',
                    sortable: false
                },
                {
                    text: 'Answers',
                    value: 'answer',
                    sortable: false
                },
                {
                    text: 'Actions',
                    value: 'action',
                    sortable: false
                },
            ],
            dialog: false,
            dialogSetup: false,
            messageDialog: "Send successfully!",
            faqs: [],
            editedItem: {
                question: '',
                answer: '',
            },
            defaultItem: {
                question: '',
                answer: '',
            },
            editedIndex: -1,
        }        
    },
    props: {
        chatbotId: String,
        modeId: String,
        documentId: String,
        displayName: String,
        documentContent: String
    },
    computed: {
        formTitle () {
            return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
        },
    },
    watch: {
        dialog (val) {
            val || this.close()
        },
    },
    methods: {
        closeEditor() {
            this.$emit("closed")
        },
        editItem (item) {
            this.editedIndex = this.faqs.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },
        deleteItem (item) {
            const index = this.faqs.indexOf(item)
            confirm('Are you sure you want to delete this item?') && this.faqs.splice(index, 1)
        },
        close () {
            this.dialog = false
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        },
        save () {
            if (this.editedIndex > -1) {
                Object.assign(this.faqs[this.editedIndex], this.editedItem)
            } else {
                this.faqs.push(this.editedItem)
            }
            this.close()
        },
        setupFaq() {
            let content = ""
            for (let i in this.faqs) {
                content += this.faqs[i].question.replace(",", "") + "," + this.faqs[i].answer + "\n"
            }

            let request = {
                projectId: this.chatbotId,
                content: content,
                knowledgeBaseId: this.modeId,
                displayName: this.displayName
            }

            axios.post(process.env.VUE_APP_HOSTNAME + '/conversation/faq/new/doc', request)
                .then((res) => {
                    if (res.data.status == 'success') {
                        this.dialogSetup = true
                    }
                    else {
                        this.messageDialog = res.data.information
                        this.dialogSetup = true
                    }
                })
                .catch((err) => {
                    this.messageDialog = err.message()
                    this.dialogSetup = true
                })
        },
        loadFaq() {
            if (this.documentContent.length > 0) {
                let contentArr = this.documentContent.split('\n')
                for (let index = 0; index < contentArr.length; index++) {
                    let splitContent = contentArr[index].split(',')
                    this.faqs.push({
                        question: splitContent[0],
                        answer: splitContent[1]
                    })
                }
            }
        }
    },
    mounted() {
        this.loadFaq()
    }
}
</script>

<style scoped>

</style>