<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <div class="d-flex align-center">
                <v-img
                alt="Las Vegas Logo"
                class="shrink mr-2"
                contain
                src="../assets/lasvegas.png"
                transition="scale-transition"
                width="240"
                />
            </div>

            <v-spacer></v-spacer>
        </v-app-bar>

        <v-content>
            <v-container class="fill-height" fluid>
                <v-row align="center" justify="center">
                    <v-btn color="info" @click.native="login()">Go to dashboard</v-btn>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
    
</template>

<script>
export default {
    name: 'MainPage',
    props: {
      source: String,
    },
    methods: {
        login() {
            // this.$router.push('/login');
            this.$router.push('/dashboard');
        }
    }
}
</script>

<style scoped>

</style>