<template>
    <v-app>
        <v-list class="mt-4 mx-8">
            <v-list-item-group color="primary">
                <v-list-item v-for="(item, i) in convItems" :key="i">
                    <v-list-item-content @click="getData(item)"> {{ item.displayName }}</v-list-item-content>

                    <v-spacer></v-spacer>

                    <v-list-item-action>
                        <v-btn @click.native="beforeDelete(item, i)" icon text color="gray">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-list-item-action>
                    
                </v-list-item>
            </v-list-item-group>
        </v-list>

        <v-row v-if="!modeId" justify="center" class="mt-8">
            <v-dialog v-model="dialogForm" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                    <v-btn color="success" v-on="on">
                        <v-icon class="mx-2">mdi-plus</v-icon>
                        Add new FAQ
                    </v-btn>
                </template>

                <v-card>
                    <v-card-title>
                        <span class="headline">FAQ Information</span>
                    </v-card-title>

                    <v-card-text>
                        <v-text-field v-model="newName" label="FAQ display name"></v-text-field>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="dialogForm = false">Close</v-btn>
                        <v-btn color="blue darken-1" text @click="addNew">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>

        <v-row v-else justify="center" class="mt-8">
            <v-dialog v-model="dialogDocForm" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                    <v-btn color="success" v-on="on">
                        <v-icon class="mx-2">mdi-plus</v-icon>
                        Add new documents
                    </v-btn>
                </template>

                <v-card>
                    <v-card-title>
                        <span class="headline">FAQ Information</span>
                    </v-card-title>

                    <v-card-text>
                        <v-text-field v-model="newDocName" label="FAQ display name"></v-text-field>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="dialogForm = false">Close</v-btn>
                        <v-btn color="blue darken-1" text @click="addNewDocs">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>

        <v-dialog v-model="dialogSuccess" max-width="300px">
            <v-alert type="success">
                Created successfully!
            </v-alert>
        </v-dialog>

        <v-dialog v-model="deleteConfirm" persistent max-width="300px">
            <v-card>
                <v-card-title >
                    <span class="headline">Warning</span>                                    
                </v-card-title>

                <v-card-text>
                    Are you sure to delete?
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="deleteConfirm = false">Close</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteData">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        
    </v-app>
</template>

<script>
import axios from 'axios'

export default {
    app: 'ChatbotDataList',
    data() {
        return {
            convItems: [],
            dialogForm: false,
            dialogSuccess: false,
            dialogDocForm: false,
            deleteConfirm: false,
            newName: '',
            newDocName: '',
            delItem: {},
            delIndex: Number
        }
    },
    props: {
        chatbotId: String,
        modeId: String
    },
    methods: {
        setData() {
            if (this.modeId) { // show list of documents
                let data = {
                    projectId: this.chatbotId,
                    knowledgeBaseId: this.modeId
                }

                axios.post(process.env.VUE_APP_HOSTNAME + '/conversation/faq/showall/doc', data)
                        .then((res) => {
                            this.convItems = res.data.information
                        })
            }
            else { // show list of knowledge bases
                let data = {
                    projectId: this.chatbotId,
                }

                axios.post(process.env.VUE_APP_HOSTNAME + '/conversation/faq/showall/', data)
                        .then((res) => {
                            this.convItems = res.data.information
                        })
            }
            
        },
        getData(val) {
            this.$emit('valueReturn', val)
        },
        addNew() {
            if (this.newName.length > 0) {
                if (!this.modeId) {
                    let data = {
                        projectId: "sportbetting-vxrusq",
                        knowledgeBaseName: this.newName
                    }

                    axios.post(process.env.VUE_APP_HOSTNAME + '/conversation/faq/new', data)
                            .then((res) => {
                                if (res.data.status == "success") {
                                    this.dialogSuccess = true
                                    this.convItems.push(res.data.information)
                                }
                            })
                    this.dialogForm = false
                }
            }
        },
        addNewDocs() {
            this.dialogDocForm = false
            this.$emit('addNewDocs', this.newDocName)
        },
        beforeDelete(val, i) {
            this.deleteConfirm = true
            this.delItem = val
            this.delIndex = i
        },
        deleteData() {
            if ('content' in this.delItem) { // delete documents
                let delData = {
                    projectId: this.chatbotId,
                    knowledgeBaseId: this.modeId,
                    documentId: this.delItem.id
                }

                axios.delete(process.env.VUE_APP_HOSTNAME + '/conversation/faq/delete/doc', {data: delData})
                        .then((res) => {
                            if (res.data.status == "success") {
                                this.deleteConfirm = false
                                this.convItems.splice(this.delIndex, 1)
                            }
                        })
            }
            else { // delete knowledge bases
                let delData = {
                    projectId: this.chatbotId,
                    knowledgeBaseId: this.delItem.id,
                }
                axios.delete(process.env.VUE_APP_HOSTNAME + '/conversation/faq/delete/', {data: delData})
                        .then((res) => {
                            if (res.data.status == "success") {
                                this.deleteConfirm = false
                                this.convItems.splice(this.delIndex, 1)
                            }
                        })
            }
        }
    },
    watch: {
        chatbotId: function() {
            this.setData()
        },
        modeId: function() {
            this.setData()
        }
    },
    created() {
        this.setData()
    }
}
</script>