<template>
    <v-app>
        <component :is="isList" :chatbotId="chatbotId" :modeId="modeId" @addNewDocs="setNewDocName" @valueReturn="setEditor"></component>
        <component :is="isEditor" :displayName="displayName" :chatbotId="chatbotId" :modeId="modeId" :documentId="documentId" :documentContent="documentContent" @closed="closeEditor"></component>
    </v-app>
</template>

<script>
import ChatbotDataList from './ChatbotDataList'
import ChatbotDialogEditor from './ChatbotEditors/ChatbotDialogEditor'
import ChatbotFaqEditor from './ChatbotEditors/ChatbotFaqEditor'

export default {
    app: "ChatbotEditor",
    data() {
        return {
            convItems: [],
            isEditor: null,
            isList: ChatbotDataList,
            displayName: '',
            documentId: '',
            documentContent: '',
        }
    },
    components: {
        ChatbotFaqEditor,
        ChatbotDialogEditor,
        ChatbotDataList
    },
    props: {
        chatbotId: String,
        modeId: String,
        chatbotName: String
    },
    methods: {
        closeEditor() {
            this.isEditor = null
            this.isList = ChatbotDataList
        },
        setEditor(val) {
            this.isList = null
            if (val.mode == "faq") {
                this.displayName = val.displayName
                this.documentId = val.id
                this.documentContent = val.content

                this.isEditor = ChatbotFaqEditor
            }
        },
        setDialogEditor() {
            if (this.modeId == null) {
                this.isList = null
                this.isEditor = ChatbotDialogEditor
            }
        },
        setNewDocName(val) {
            this.displayName = val
            this.isList = null
            this.isEditor = ChatbotFaqEditor
        }
    },
    mounted() {
        this.setDialogEditor()
    }
}
</script>