<template>
    <v-app>
        <v-navigation-drawer v-model="drawer" app clipped >
            <template v-slot:prepend>
                <v-list>
                    <v-list-group no-action v-model="isActive">
                        <template v-slot:activator>
                            <v-list-item-title> {{ chatbotName }}</v-list-item-title>
                        </template>

                        <v-list-item link v-for="(item, i) in chatbotList" :key="i">
                            <v-list-item-content @click="currentChatbot(item.projectId, item.name)">
                                <v-list-item-title v-text="item.name"></v-list-item-title>
                                <v-list-item-subtitle v-text="item.projectId"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                    
                </v-list>
            </template>

            <v-divider></v-divider>

            <v-list nav dense>
                <v-list-item @click="openChoiceList(item.mode)" link v-for="(item, i) in actions" :key="i">
                    <v-list-item-icon>
                        <v-icon> {{ item.icon }} </v-icon>
                    </v-list-item-icon>

                    <v-list-item-title v-text="item.name"></v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar app clipped-left>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title>LV Chatbots</v-toolbar-title>
        </v-app-bar>

        <v-content>
            <component :is="isList" :chatbotId="chatbotId" @valueReturn="getSpecificModeId"></component>
            <component :is="isEditor" :modeId="modeId" :chatbotId="chatbotId"></component>
        </v-content>

        <ChatbotPopup v-if="demo" :chatbotId="chatbotId" :knowledgeBaseList="knowledgeBaseList">
        </ChatbotPopup>

        <v-footer app>
            <span>&copy; 2019</span>
        </v-footer>
    </v-app>
</template>

<script>
import axios from 'axios'
import ChatbotPopup from './ChatTemplate/ChatbotPopup'
import ChatbotDataList from './ChatbotDataList'
import ChatbotEditor from './ChatbotEditor'

export default {
    app: "ChatbotDashboard",
    components: {
        ChatbotEditor,
        ChatbotPopup,
        ChatbotDataList,
    },
    props: {
      source: String,
    },
    data: () => ({
        actions: [
            {
                icon: 'mdi-star',
                name: 'Dialog',
                mode: 'dialog'
            },
            {
                icon: 'mdi-star',
                name: 'FAQ',
                mode: 'faq'
            },
            {
                icon: 'mdi-star',
                name: 'Demo',
                mode: null
            }
        ],
        chatbotList: [],
        knowledgeBaseList: [],
        chatbotId: '',
        modeId: null, // knowledge base Id
        chatbotName: 'Chatbot',
        isEditor: null,
        isList: null,
        isActive: false,
        drawer: null,
        demo: false
    }),
    methods: {
        chatbotData() {
            axios.get(process.env.VUE_APP_HOSTNAME + "/chatbot/showall")
                .then((res) => {
                        this.chatbotList = res.data.information
                })
        },
        currentChatbot(id, name) {
            this.chatbotId = id
            this.chatbotName = name
            this.isActive = false
            this.modeId = null
            this.isEditor = null
            this.isList = null
        },
        openChoiceList(val) {
            if (this.chatbotId.length > 0) {
                if (val == null) {
                    this.demo = true

                    let data = {
                        projectId: this.chatbotId,
                    }

                    axios.post(process.env.VUE_APP_HOSTNAME + '/conversation/faq/showall/', data)
                            .then((res) => {
                                for (let index = 0; index < res.data.information.length; index++) {
                                    this.knowledgeBaseList.push(res.data.information[index].id)
                                }
                            })
                }
                else if (val == 'faq') {
                    this.isList = ChatbotDataList
                    this.isEditor = null
                }
                else if (val == 'dialog') {
                    this.isList = null
                    this.isEditor = ChatbotEditor
                }
            }
        },
        getSpecificModeId(val) {
            this.modeId = val.id
            this.isList = null
            this.isEditor = ChatbotEditor
        }
    },
    computed: {

    },
    created() {
        this.chatbotData()
    },
    mounted() {
        
    },
}
</script>

<style scoped>

</style>